[Unit]
Description=Automated Restic Backup to Google Drive
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/automated-backup
